@import './node_modules/bootstrap/scss/bootstrap';

html,
body {
    margin: 0;
    overflow: hidden;
    width: 100vw !important;
    height: 100vh !important;
}

//This is the main application container ID, includes the application header
#page-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
    background: #ededed;
    & > #page-title {
        background-color: inherit;
        color: #3793ff;
        margin: 0 !important;
        padding-right: 15px;
        padding-bottom: 15px;
    }
    & > #page-title.gray {
        background-color: #f5f5f5 !important;
    }
}

.data-container {
    border: 1px solid var(--bs-success);
    padding: 15px;
    border-radius: 25px;
    background: #f5f5f5;
}
